
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
} 

.navbars {
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  background-color: #636262;*/
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.nav-linkss {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-linkss li {
  position: relative;
}

.nav-linkss a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  background-color: #2d3e50;
  border-radius: 0.5;
}

.nav-linkss a:hover {
  background-color: #2d3e50;
}
.dropdowns{
  border-radius: 4px;
}

.dropdown-menus {
  display: none;
  position: absolute;
  background-color: #2d3e50;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  min-width: 150px;
}

.dropdown-menus li a {
  padding: 0.5rem 1rem;
}

.dropdowns:hover .dropdown-menus {
  display: block;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* Mobile Styles */
.hamburger span {
  background: white;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}

.nav-linkss {
  transition: transform 0.3s ease-in-out;
}

.nav-linkss.mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  width: 100%;
  transform: translateX(100%);
}

.nav-linkss.mobile.show {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-linkss {
    display: none;
  }

  .nav-linkss.mobile {
    display: flex;
  }
}
