<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking Management</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <div class="navbar" id="navbar">
    <a href="{% url 'vehicle_list' %}">In/Out</a>
    
    <div class="dropdown">
        <button class="dropbtn">Configurations 
            &#9662;
        </button>
        <div class="dropdown-content">
            <a href="{% url 'project_list' %}">Projects</a>
            <a href="{% url 'create_tower' %}">Tower</a>
            <a href="{% url 'create_floor' %}">Floor</a>
            <a href="{% url 'create_parking_number' %}">Parking Number</a>
        </div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
</div>

{% block content %}

{% endblock content %}

<script>
    function toggleMenu() {
        var navbar = document.getElementById("navbar");
        navbar.classList.toggle("responsive");
    }
</script>
</body>
</html>
