<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image not detected</title>
</head>
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .receipt-container {    
            padding: 10px;
            max-width: 600px;
            margin: auto;
            text-align: center;
            color: red;
        }
</style>
<body>
    <div class="receipt-container">
        <h2>{{numnot}}</h2>
    </div>
</body>
</html>